.MuiAccordionSummary-content {
    justify-content: space-between;
    align-items: center;
}

.MuiSvgIcon-root{
    margin-left: 10px;
}

.MuiTypography-body1 span {
    font-weight: bold;
}

.MuiButton-contained {
    margin-bottom: 20px !important; 
} 

.wrapButton {
    display: flex;
    justify-content: center;
}

.wrapTextField {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

}

.textField {
    margin: 20px 0 20px !important;
}

.wrapbtn {
    display: flex;
    justify-content: space-around;
}